.form-container{
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    background-color: black;
    height: 70vh;
    margin-top: 15vh;
    display: grid;
    grid-template-columns: 70% 30% 0%;
    overflow: hidden;
    color: white;
    transition: 0.3s linear;
}
.form-container.active{
    grid-template-columns: 0% 30% 70%;
    transition: 0.3s linear;
}
.form-container .toggle-bar{
    background-image: url("../../assets/form/login.jpg");
    background-repeat: no-repeat;
}
.toggle-bar p{
    font-size: 20px;
    width: 80%;
    margin-left: 18%;
}
.btn {
	line-height: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
    background-color: black;
}
.btn-form {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-form span {
	transition: all 0.3s;
}
.btn-form::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: dodgerblue;
	border-bottom-color: dodgerblue;
	transform: scale(0.1, 1);
}
.btn-form:hover span {
	letter-spacing: 2px;
}
.btn-form:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-form::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-form:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
.form-overlay{
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}