
.container {
    height: 100vh;
  }
  
  .loginFormContainer {
    width: 24rem;
  }
  
  .loginFormLegend {
    width: 10rem;
    background: #dc4c64;
    border: none;
    color: white;
    border-radius: 5px;
  }
  
  .errorMessage {
    font-size: 12px;
    letter-spacing: 0.05rem;
    padding-left: 0.25rem;
    color: red;
  }