.center {
  padding: 30px 70px;
  background: black;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: white;
  letter-spacing: 5px;
  margin-bottom: 40px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  width: 300px;
  height: 30px;
  margin-bottom: 30px;
  color: white;
}
.center .inputbox input {
  width: 100%;
  border: 2px solid #fff;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  margin-top: 5px;
  color: white;
}
.center .inputbox span {
  font-size: 0.9em;
  transition: 0.6s;
  font-family: sans-serif;
  padding-bottom: 5%;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 0.8em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  margin-top: 15px;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, rgb(174, 0, 255), dodgerblue);
}
