.os-wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url("./bck.png");
    background-color: #cccccc;
}
.owned-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    animation: fadein 2s;
    text-align: center;
}

.owned-table thead tr {
    background-color: #86190a;
    color: #ffffff;
}

.owned-table th{
    padding: 25px;
}
.owned-table td {
    padding: 20px;
    border-bottom: solid #86190a 1px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }

  .sell-button {
    align-items: center;
    margin-top: 3%;
    background-image: radial-gradient(100% 100% at 100% 0, #1f1c18 0, #86190a 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    height: 48px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    width: 50%
  }
  
  .sell-button:focus {
    box-shadow: #86190a 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #86190a 0 -3px 0 inset;
  }
  
  .sell-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #86190a 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .sell-button:active {
    box-shadow: #86190a 0 3px 7px inset;
    transform: translateY(2px);
  }