.os-wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url("./bck.png");
    background-color: #cccccc;
}
.owned-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    animation: fadein 2s;
    text-align: center;
}

.owned-table thead tr {
    background-color: #86190a;
    color: #ffffff;
}

.owned-table th{
    padding: 25px;
}
.owned-table td {
    padding: 20px;
    border-bottom: solid #86190a 1px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }