@import url("https://fonts.googleapis.com/css?family=Cabin");
.profile-wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
    margin-top: 9vh;
    border-radius: 30px;
    padding: 4%;
    background-color: rgba(179, 179, 179, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: fadeinandMove 1s;
}
.profile-container{
    width: 48%;
    float: left;
    height: 100%;
    padding: 20px;
    font-family: "Cabin";
}
.con1{
    margin-right: 4%;
    background-color: white;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.p-icon{
    text-align: center;
    font-size: 120px;
    color: #86190a;
}
.p-data p{
    padding-top: 20px;
    font-size: 25px;
    padding-left: 15%;
    letter-spacing: 2px;
}
.container-1{
    margin-left: 15%;
    font-size: 15px;
    width: 40%;
    float: left;
    margin-right: 2%;
    padding-bottom: 8px;
    border-bottom: solid grey 1px ;
    overflow: hidden;
    font-family: "Cabin";
    letter-spacing: 2px;
}
.container-2{
    border-bottom: solid grey 1px ;
    width: 30%;
    float: right;
    font-size: 15px;
    padding-bottom: 8px;
    margin-right: 10%;
    letter-spacing: 2px;
}
.p-email{
    margin-left: 15%;
    padding-top: 10%;
    width: 75%;
    font-size: 15px;
    padding-bottom: 8px;
    border-bottom: solid grey 1px ;
    letter-spacing: 2px;
}
.button-18 {
    letter-spacing: 2px;
    margin-top: 5%;
    margin-left: 15%;
    align-items: center;
    background: #86190a;
    background: linear-gradient(90deg, #86190a 0%, rgba(31,28,24,1) 100%);
    border-radius: 100px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;   
}

.button-18:hover { 
  background-color: #1f1c18;
  background: linear-gradient(90deg, #1f1c18 0%, rgba(31,28,24,1) 100%);
  color: #ffffff;
}
.container-top{
    height: 47%;
    background-color: white;
    margin-bottom: 5%;
    border-radius: 35px;
    margin-top: -4%;
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.container-bottom{
    height: 55%;
    background-color: white;
    border-radius: 35px;
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.container-top p{
    font-size: 20px;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 1%;
    border-bottom: solid grey 1px ;
}
.d-info{
    font-size: 15px;
    margin-left: 5%;
    padding-bottom: 2%;
}
.d-info span{
    color: gold;
    font-weight: 500;
}
.button-19 {
    letter-spacing: 2px;
    margin-top: 1%;
    margin-left: 5%;
    align-items: center;
    background: #86190a;
    background: linear-gradient(90deg, #86190a 0%, rgba(31,28,24,1) 100%);
    border-radius: 100px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;   
}
.button-19:hover { 
    background: linear-gradient(90deg, #1f1c18 0%, rgba(31,28,24,1) 100%);
    color: #ffffff;
}
.container-bottom p{
    font-size: 20px;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 1.5%;
    border-bottom: solid grey 1px ;
}
.button-18 a {
    color: white;
    text-decoration: none;
  }
  
.button-18 a:hover { 
    color: white;
    text-decoration: none;
   }
.button-19 a {
    color: white;
    text-decoration: none;
  }
  
.button-19 a:hover { 
    color: white;
    text-decoration: none;
   }
@keyframes fadeinandMove {
    from { 
        opacity: 0;
        transform: translateX(150%);
    }
    to   { 
        opacity: 1;
        transform: translateX(0%);
    }

  }
  .cb1 {
    width: 100%;
    height: 35%;
    margin-bottom: 10px;
    font-family: "Cabin";
    margin-left: 2.5%;
  }
  .cb1 p{
    font-size: 16px;
    padding-bottom: 0;
    border-bottom: none; 
    text-decoration: underline;
    letter-spacing: 2px;
  }
  .cb-data{
    width: 60%;
    float: left;
  }
  .cb1 .cb-desc{
    font-size: 14px;
    margin-top: -2%;
    text-decoration: none;
    letter-spacing: 0px;
  }
  .cb1 .cb-button{
    width: 35%;
    float: right;
    height: 100%;
    margin-right: 5%;
    position: relative;
  }
  .cb-button .center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    margin-left: 5%;
  }
  .button-cb{
    width:80%;
    letter-spacing: 2px;
    border: none;
    padding: 3%;
    border-radius: 20px;
    background: #86190a;
    background: linear-gradient(90deg, #86190a 0%, rgba(31,28,24,1) 100%);
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  .button-cb a{
    color: white;
    text-decoration: none;
  }

  .button-cb:hover { 
    background: linear-gradient(90deg, #1f1c18 0%, rgba(31,28,24,1) 100%);
    color: #ffffff;
}
.cb-button a:hover{
    color: white;
    text-decoration: none;
}
.modal-error{
  color: #dc4c64;
  font-size: 16px;
}
.form-control:focus{
  border-color: #dc4c64 !important;
  box-shadow: 0 0 0 0.1rem #dc4c64 !important;
}