@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Arima");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic");

.wrapper {
  width: 100%;
  margin: 0%;
  height: 100vh;
  background-image: url('../assets/about/back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about{
  margin:auto;
  width: 90%;
  height:80%;
  background-color: black;
  opacity: 0.9;
  border-radius: 100px;
}
.about-text {
  float:left;
  width: 50%;
  background-color: black;
  height: 100%; 
}
.about-text p {
  font-size: 5rem;
  text-align: center;
  margin: auto;
  margin-top:35%;
  color: white;
  border-right: 6px solid white;
  height: 15%;
}
.about-data {
  float:right;
  width: 50%;
  background-color: black;
  height: 100%;
  font-size: 1.2rem;
}
.about-data p{
  width: 75%;
  height: 75%;
  text-align: center;
  margin: auto;
  margin-top:25%;
  line-height: 200%;
  font-family: 'Gentium Book Basic';
  color: white;
  font-weight: 200;
}
