ul {
    list-style-type: none;
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    overflow: hidden;
    margin-left: 10vw;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    padding-right: 5vw;
  }
  button{
    float: right;
    display: block;
    margin: 4px;
    margin-right: 10vw;
    padding: 8px;
  }