ul {
    list-style-type: none;
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    overflow: hidden;
    margin-left: 10vw;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    padding-right: 5vw;
    text-decoration: none;
    margin-top: 14px;
  }

  a:link{
    color: black;
  }
  a:visited{
    color:black;
  }
  a:hover{
    color: #5468ff;
  }
  a:active{
    color: #5adaff;
  }
  button {
    float: right;
    display: block;
    margin: 4px;
    margin-right: 10vw;
    padding: 8px;
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-family: Aboreto;
    height: 48px;
    justify-content: center;
    line-height: 1;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    will-change: box-shadow,transform;
    font-size: 18px;
  }

  button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    color: white;
  }