.nav-comp{
    background: #86190a;
    background: linear-gradient(90deg, #86190a 0%, rgba(31,28,24,1) 100%);
    color: white;
    padding: 20px;
    padding-left: 60%;
}
.nav-comp div{
    display: inline;
    padding-right: 50px;
}
.nav-comp span{
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.nav-comp span:hover{
    box-shadow: inset 100px 0 0 0 white;
    padding: 10px;
    color: #86190a;
}