.graph{
    width: 80vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.heading{
    text-align: center;
    margin-top: 2%;
    font-family: "Georgia", Georgia, serif;
    color:rgb(142,14,0);
}
.val_head{
    list-style-type: none;
    margin-left: 45%;
    margin-right: 25%;
    width: 300px;
    background-color: white;
}
.val {
    display: block;
    background-color: rgb(142,14,0);
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    text-decoration: none;
    border: 2px solid rgb(142,14,0);
    border-radius: 12px;
    padding: 5px;
  }
  
  /* Change the link color on hover */
.val:hover {
    background-color: white;
    color: rgb(142,14,0);
  }
.final_val{
    list-style-type: none;
    width: 900px;
    background-color: white;
    margin-left: 40%;
    margin-top: 2%;
    padding-left: 0%;
    text-align: center;
}
.final_total {
    display: block;
    background-color: rgb(142,14,0);
    color: white;
    margin-left: 0%;
    margin-right: 35%;
    text-decoration: none;
    border: 2px solid rgb(142,14,0);
    border-radius: 12px;
    padding: 5px;
    padding-left: 2%;
    text-align: left;
  }
.final_total:hover {
    background-color: white;
    color: rgb(142,14,0);
  }